<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'artesanik_sylius_employee_plugin.ui.employee_information'|trans }}</h4>
            {{ form_row(form.employeeid) }}
            {{ form_row(form.position) }}
            {{ form_row(form.office) }}
            {{ form_row(form.company) }}
        </div>
    </div>
</div>
