
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'artesanik_sylius_employee.ui.employee_information'|trans }}</h4>
    {{ form_row(form.employeeid) }}
    {{ form_row(form.position) }}
    {{ form_row(form.department) }}
    {{ form_row(form.office) }}
    {{ form_row(form.company) }}
    {{ form_row(form.limitid) }}
    {{ form_row(form.limitexcluded) }}
    {{ form_row(form.limitpurchase) }}
</div>
