{% extends '@SyliusAdmin/layout.html.twig' %}
{%  block title %}{{ 'artesanik_sylius_employee.ui.limits'|trans }} 
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="ui stackable">
        <h1 class="ui header">{{ 'artesanik_sylius_employee.ui.limits'|trans }}</h1>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}