{# empty Twig template #}
<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.customer_employee_tab'|trans }}</h4>
    {{ form_row(form.onHand) }}
    {{ form_row(form.tracked) }}
    {{ form_row(form.version) }}
    {{ form_row(form.employeeid) }}
    {{ form_row(form.positionid) }}
    {{ form_row(form.officeid) }}
</div>